@use 'modern-normalize';
@use './utils/vars' as *;
@use './utils/funcs' as *;
@use './utils/reset';
@use './vendors/angular-split';

body {
  overflow: hidden;

  height: 100vh;
  margin: 0;

  font-size: 100%;

  color-scheme: dark;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.11;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.14;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.17;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.2;
}

%dark-palette {
  --color-bg: rgb(27 26 34);
  --color-bg-secondary: rgb(23 22 28);
  --color-surface: rgb(42 42 49);
  --color-surface-secondary: rgb(52 52 60);
  --color-text: rgb(232 232 232);
  --color-text-secondary: rgb(216 216 216);
  --color-text-muted: rgb(234 234 234 / 50%);
  --color-text-subtle: rgb(234 234 234 / 30%);
  --color-text-inverse: var(--color-bg);
  --color-border: rgb(234 234 234 / 10%);
  --color-border-subtle: rgb(234 234 234 / 4%);
  --color-border-strong: rgb(234 234 234 / 50%);
  --color-accent: #5f3bb2;
  --color-accent-secondary: #1ed760;
  --color-accent-tertiary: #b34263;
  --color-success: #1ed760;
  --color-warning: #ffb4ab;
  --color-error: #d31033;
  --color-info: rgb(106 103 255);
  --color-overlay: rgb(28 27 34 / 40%);
  --color-overlay-secondary: rgb(28 27 34 / 80%);
  --color-overlay-tertiary: rgb(28 27 34 / 20%);
  --color-shadow: rgb(0 0 0 / 30%);
}

%z-index {
  --gutter-z-index: 10;
  --header-z-index: 20;
  --mobile-menu-z-index: 1000;
}

%sizing {
  --size-xs: #{$scale-xs};
  --size-s: #{$scale-s};
  --size-m: #{$scale-m};
  --size-l: #{$scale-l};
  --size-xl: #{$scale-xl};
  --size-2xl: #{$scale-2xl};
  --size-3xl: #{$scale-3xl};
  --size-4xl: #{$scale-4xl};
}

%spacing {
  --space-xs: #{$scale-xs};
  --space-s: #{$scale-s};
  --space-m: #{$scale-m};
  --space-l: #{$scale-l};
  --space-xl: #{$scale-xl};
  --space-2xl: #{$scale-2xl};
  --space-3xl: #{$scale-3xl};
  --space-4xl: #{$scale-4xl};
}

%radius {
  --radius-xs: #{$scale-xs};
  --radius-s: #{$scale-s};
  --radius-m: #{$scale-m};
  --radius-l: #{$scale-l};
  --radius-xl: #{$scale-xl};
  --radius-full: 9999px;
}

%text-size {
  --text-3xs: #{$text-3xs};
  --text-2xs: #{$text-2xs};
  --text-xs: #{$text-xs};
  --text-s: #{$text-s};
  --text-m: #{$text-m};
  --text-l: #{$text-l};
  --text-xl: #{$text-xl};
  --text-2xl: #{$text-2xl};
  --text-3xl: #{$text-3xl};
  --text-4xl: #{$text-4xl};
}

%vars {
  --bp-mobile: #{$bp-mobile};
  --bp-tablet: #{$bp-tablet};
  --bp-desktop: #{$bp-desktop};
  --bp-wide: #{$bp-wide};
  --wrapper-min-width: 380px;
  --wrapper-max-width: 1440px;
  --box-shadow: 0 var(--scale-s) var(--scale-s) var(--color-shadow);
  --border: 1px solid var(--color-border);
  --main-padding: var(--space-2xl) var(--space-xl);
  --track-card-width-m: #{rem(200)};
  @extend %spacing;
  @extend %radius;
  @extend %text-size;
  @extend %sizing;
  @extend %z-index;
}

:root,
[tuiTheme='dark'] {
  --tui-duration: #{$transition-duration};
  --tui-radius-l: var(--radius-xl);
  --tui-radius-s: var(--radius-l);
  --tui-height-l: 2.75rem;
  --tui-typography-family-text: 'Nunito Sans', sans-serif;
  --tui-background-base: var(--color-bg);
  --tui-text-primary: var(--color-text);
  --tui-text-secondary: var(--color-text-muted);
  --tui-text-tertiary: var(--color-text-subtle);
  --tui-border-normal: var(--color-border);
  --tui-background-accent-1: var(--color-border-strong);
  --tui-status-negative: var(--color-error);
  --tui-service-autofill-background: var(--color-surface);
  --tui-status-positive: var(--color-success);
  --tui-status-info: var(--color-info);
  --tui-status-warning: var(--color-warning);
  --tui-background-elevation-3: var(--color-surface);
  --tui-background-neutral-1: var(--color-surface-secondary);
  --tui-text-action: var(--color-text-muted);
  @extend %vars;
  @extend %dark-palette;
}
