@use 'utils/funcs' as *;
@use 'utils/mixins' as mix;

:host {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
  padding: var(--space-xl);
}

.library-section {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  .section-title {
    font-size: rem(22);
    font-weight: 700;
    color: var(--color-text);
  }
}

.playlists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(160), 1fr));
  gap: var(--space-xl);
}

.create-playlist-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  .icon-wrapper {
    position: relative;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    aspect-ratio: 1;
    width: 100%;
    border: var(--border);
    border-radius: var(--radius-s);

    font-size: rem(36);
    color: var(--color-text-muted);

    background-color: var(--color-surface);

    @include mix.main-transition('background-color, color');

    &:has(.library-cover-img),
    &:has(.library-cover-mosaic) {
      border: none;
    }
  }

  .library-cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .library-create-icon {
    width: rem(48);
    height: rem(48);
    color: var(--color-text-muted);
    @include mix.main-transition('color');
  }

  @include mix.hover {
    .icon-wrapper {
      color: var(--color-accent-secondary);
      background-color: var(--color-surface-secondary);
    }

    .library-create-icon {
      color: var(--color-success);
    }
  }

  .library-cover-mosaic {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

    .library-cover-img {
      flex-shrink: 0;
      width: 50%;
      height: 50%;
      object-fit: cover;
    }
  }

  .card-info {
    display: flex;
    flex-direction: column;

    .title {
      font-size: var(--text-s);
      font-weight: 700;
      color: var(--color-text);
    }

    .subtitle {
      font-size: var(--text-xs);
      color: var(--color-text-muted);
    }
  }
}

.empty-state {
  font-size: var(--text-s);
  color: var(--color-text-muted);
}
