@if (playlistResource.value(); as playlist) {
  <player-playlist-header
    [playlist]="playlist"
    [totalTime]="totalTime()"
    [isPlaying]="isPlaying()"
    (playClicked)="playPlaylist()"
    (editClicked)="editPlaylistDetails()"
    (deleteClicked)="isDeleteModalOpen.set(true)"
    (coverLoaded)="getPlaylistColor($event)"
  />
  <div cdkDropList class="track-list" (cdkDropListDropped)="dropTrack($event)">
    @if (playlist.trackIds?.length) {
      <player-tracks-header />
    }
    @for (track of stableTracks(); track track.id; let index = $index) {
      <player-track-row [index]="index" [track]="track" cdkDrag>
        <div *cdkDragPreview class="custom-drag-preview">
          {{ track.name }} • {{ track.artist.name }}
        </div>
        <span row-meta class="track-album">{{ track.album.name }}</span>
        <span row-actions class="track-duration">{{ track.duration | duration }}</span>
        <player-context-menu row-actions>
          <button tuiOption type="button" (click)="removeFromPlaylist(track)">
            <player-sprite icon="delete" />
            <span>Remove from playlist</span>
          </button>
        </player-context-menu>
      </player-track-row>
    }
  </div>
  @if (isSearchOpen()) {
    <player-playlist-search
      [tracks]="filteredSearchResults()"
      [isLoading]="searchResultResource.isLoading()"
      (queryChange)="searchQuery.set($event)"
      (trackAdd)="addToPlaylist($event)"
      (closeSearch)="toggleFindButton()"
    />
  } @else {
    <button playerButton variant="base" (click)="toggleFindButton()" class="search-open">
      Find more
    </button>
    <player-playlist-recommended
      [tracks]="stableRecommendedTracks()"
      [isLoading]="recommendedTracksResource.isLoading()"
      (trackAdd)="addToPlaylist($event)"
      (refresh)="refreshRecommendations()"
    />
  }
} @else if (playlistResource.isLoading()) {
  <p class="loading">Loading...</p>
} @else {
  <p>Playlist not found.</p>
}
<player-dialog [isOpen]="isDeleteModalOpen()" (closeDialog)="isDeleteModalOpen.set(false)">
  <div class="confirm">
    <p>Delete playlist?</p>
    <p class="confirm-text">
      This action cannot be undone. Your playlist will be permanently deleted.
    </p>
    <div class="confirm-actions">
      <button playerButton variant="base" size="small" (click)="isDeleteModalOpen.set(false)">
        Cancel
      </button>
      <button
        playerButton
        variant="base"
        size="small"
        (click)="deletePlaylist()"
        class="confirm-delete"
      >
        Delete
      </button>
    </div>
  </div>
</player-dialog>
<player-dialog [isOpen]="isEditModalOpen()" (closeDialog)="closeEditForm()">
  <player-playlist-form
    title="Edit details"
    submitText="Save"
    [playlistData]="playlistResource.value()"
    (closeForm)="closeEditForm()"
  />
</player-dialog>
