@use 'utils/funcs' as *;
@use 'utils/mixins' as mix;
@use 'utils/placeholders';

:host {
  --track-cover-width: #{rem(56)};
  --track-text-min-width: #{rem(180)};

  display: block;
  width: 100%;
}

.track-row {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  justify-content: space-between;

  padding: var(--space-s) var(--space-m);
  border-radius: var(--radius-s);

  @include mix.main-transition('background-color');

  @include mix.hover {
    cursor: pointer;
    background-color: var(--color-surface);
  }

  @include mix.tablet {
    padding: var(--space-xs) var(--space-xs);
  }

  &.playing {
    .track-index,
    .track-title {
      color: var(--color-success);
    }
  }
}

.track-index {
  width: rem(16);
  font-size: var(--text-s);
  color: var(--color-text-muted);
  text-align: center;
}

.track-cover {
  display: flex;
  flex-basis: var(--track-cover-width);
  flex-shrink: 0;
  align-items: center;
}

.track-cover .play-btn {
  background-color: transparent;
}

.track-main-info {
  display: flex;
  flex: 1 2 var(--track-text-min-width);
  flex-direction: column;
  min-width: 0;

  .track-title,
  .track-artist {
    @extend %ellipsis;

    width: 100%;
  }

  .track-title {
    font-size: var(--text-m);
    font-weight: 500;
    color: var(--color-text);
  }

  .track-artist {
    font-size: var(--text-s);
    color: var(--color-text-muted);
  }
}

.track-meta-slot {
  display: flex;
  flex: 1 1 rem(200);
  gap: var(--space-m);
  align-items: center;

  min-width: 0;

  font-size: var(--text-s);
  color: var(--color-text-muted);

  /* stylelint-disable selector-pseudo-element-no-unknown */
  ::ng-deep [row-meta],
  ::ng-deep .track-album {
    @extend %ellipsis;

    width: 100%;
  }

  /* stylelint-enable selector-pseudo-element-no-unknown */
  @include mix.mobile {
    display: none;
  }
}

.track-actions-slot {
  display: flex;
  flex-basis: rem(100);
  flex-shrink: 0;
  gap: var(--space-m);
  align-items: center;
  justify-content: flex-end;
}
