@let t = track();
@let idx = index();

<div class="track-row" (mouseenter)="isHovered.set(true)" (mouseleave)="isHovered.set(false)">
  @if (idx !== null) {
    <span class="track-index">{{ idx + 1 }}</span>
  }
  <div class="track-cover">
    <player-track-cover
      [track]="t"
      variant="secondary"
      [isHovered]="isHovered()"
      [isPlaying]="isPlaying()"
      (playClicked)="playClicked.emit($event)"
      class="track-btn"
    />
  </div>
  <div class="track-main-info">
    <span class="track-title" [title]="t.name">{{ t.name }}</span>
    <span class="track-artist">{{ t.artist.name }}</span>
  </div>
  <div class="track-meta-slot">
    <ng-content select="[row-meta]" />
  </div>
  <div class="track-actions-slot">
    <ng-content select="[row-actions]" />
  </div>
</div>
