@use 'utils/funcs' as *;
@use 'utils/mixins' as mix;

:host {
  --track-cover-width: #{rem(56)};
  --track-text-min-width: #{rem(180)};
}

.tracks-header {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  justify-content: space-between;

  margin-bottom: var(--space-m);
  padding: var(--space-s) var(--space-m);
  border-bottom: 1px solid var(--color-surface);

  @include mix.tablet {
    padding: var(--space-xs) var(--space-xs);
  }

  .header-label {
    font-size: var(--text-s);
    font-weight: 700;
    color: var(--color-text-muted);
    letter-spacing: 1px;
  }

  .clock {
    width: rem(16);
    color: var(--color-text-muted);
  }
}

.track-index {
  width: rem(16);
  font-size: var(--text-s);
  color: var(--color-text-muted);
  text-align: center;
}

.track-main-info {
  display: flex;
  flex-grow: 1;
  align-items: center;

  min-width: 0;
  min-width: calc(var(--track-text-min-width) + var(--track-cover-width) + var(--space-m));
}

.track-meta-slot {
  display: flex;
  flex: 0 1 rem(300);
  align-items: center;

  min-width: rem(110);

  font-size: var(--text-s);
  color: var(--color-text-muted);

  @media (width <= 710px) {
    display: none;
  }

  @include mix.mobile {
    display: none;
  }
}

.track-actions-slot {
  display: flex;
  flex-basis: rem(100);
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
}

.track-clock {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;

  width: rem(16);
  height: rem(16);

  color: var(--color-text-muted);
  text-align: center;
}

.track-spacer {
  flex-shrink: 0;
  width: rem(16);
}
